<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/comum/LayoutPadrao}">

<head>
<title></title>
</head>

<section layout:fragment="conteudo01">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="panel-title aw-titulo-panel">Pesquisa de Emprestimos</h1>
		</div>

		<div class="panel-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center col-md-1">#</th>
						<th>Nome</th>
						<th class="text-center col-md-2">Valor Solicidado</th>
						<th class="text-right col-md-2">nº de parcelas</th>
						<th class="text-center col-md-2">Data do emprestimo</th>

					</tr>
				</thead>
				<tbody>
				
<!-- 				 class="bw-field-action"> 
						<select class="js-example-basic-single col-md-3" id="cliente"
							th:field="*{cliente}">
					
							<option th:each="cliente : ${clientes}" th:value="${cliente.id}"
								th:text="${cliente.nome}"></option>
						</select>
-->
				
				
					<tr th:each="emprestimo : ${emprestimos}">
						<td class="text-center" th:text="${emprestimo.id}">1</td>
						<td th:text="${emprestimo.cliente.nome}"></td>
						<td class="text-center" th:text="${emprestimo.valorEmprestimo}"></td>
						<td class="text-right" th:text="${emprestimo.totalParcelas}"></td>
						<td class="text-right" th:text="${emprestimo.dataEmprestimo}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		
	</div>


</section>


</html>