<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/comum/LayoutPadrao}">

<head>
<title></title>
</head>

<section layout:fragment="conteudo01">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="panel-title aw-titulo-panel">Pesquisa de Emprestimos</h1>
		</div>

		<div class="panel-body">
			<table class="table table-bordered table-striped" id="tabela_emprestimo">
				<thead>
					<tr>
						<th class="text-center col-md-1">#</th>
						<th class="text-center col-md-4">Nome</th>
						<th class="text-center col-md-1">R$ Emp.</th><!--Valor devido do emprestimo-->
						<th class="text-center col-md-1">Nº P</th><!--nº total da divida-->
 						<th class="text-center col-md-1">Nº P R</th> <!--nº Parcelas a receber-->
						<th class="text-center col-md-1">R$ P R</th><!--Valor a receber-->
						<th class="text-center col-md-2">Links</th><!--Visualizar um resumo do emrpestimo-->
						
					</tr>
				</thead>
				<tbody>
					<tr th:each="emprestimo : ${emprestimos}">
						<td class="text-center" th:text="${emprestimo.id}"></td>
						<td th:text="${emprestimo.cliente.nome}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		
	</div>


</section>


</html>