<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/comum/LayoutPadrao}">

<head>
<title></title>
</head>


<section layout:fragment="conteudo01">

	<form class="form-horizontal " id="myForm" role="form" method="post"
		th:action="@{/emprestimos/novo}" th:object="${emprestimo}">

		<div class="panel panel-default">

			<div class="panel-heading">
				<h1 class="panel-title aw-titulo-panel">Novo Emprestimo</h1>
			</div>

			<div class="panel-body">


				<div class="form-group">
					<label for="cliente" class="col-md-2 control-label">Cliente:</label>
					<div class="bw-field-action">
						<select class="chosen-select chosen-rlt col-md-3"
							th:field="*{cliente}">
							<option value=""></option>
							<!--isso deve esta aqui para que o placeholder possa funcionar corretamente -->
							<option th:each="cliente : ${clientes}" th:value="${cliente.id}"
								th:text="${cliente.nome}"></option>
						</select>
						<div class="bw-field-action__icon">
							<a href="#" data-toggle="modal" data-target="#modalClienteRapido">
								<i class="glyphicon  glyphicon-plus-sign  bw-glyphicon-large"></i>
							</a>
						</div>

					</div>
				</div>

				<div class="form-group">
					<label for="nome" class="col-md-2  control-label">Valor
						Solicitado:</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="valorSolicitado"
							th:field="*{valorSolicitado}" placeholder="Valor solicitado" />
					</div>
				</div>


				<div class="form-group">
					<label for="nome" class="col-md-2  control-label">Número de
						parcelas:</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="nParcelas"
							th:field="*{nParcelas}" placeholder="numero de parcelas" />
					</div>
				</div>

				<div class="form-group">
					<label for="nome" class="col-md-2  control-label">Percentual
						Juros: </label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="percentual"
							th:field="*{percentual}" placeholder="% de juros" />
					</div>
				</div>


				<div class="form-group">
					<label for="nome" class="col-md-2  control-label">Data
						entrega dinheiro </label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="dataEmprestimo"
							th:field="*{dataEmprestimo}" placeholder="entrega"
							data-provide="datepicker" data-date-format="dd/mm/yyyy"
							data-date-language="pt-BR" data-date-autoclose="true"
							data-date-today-highlight="true" data-date-orientation="bottom" />
					</div>
				</div>

				<div class="form-group">
					<label for="nome" class="col-md-2  control-label">Pag. 1ª
						parela: </label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="primeiraEmprestimo"
							th:field="*{primeiraEmprestimo}" placeholder="data 1 pag"
							data-provide="datepicker" data-date-format="dd/mm/yyyy"
							data-date-language="pt-BR" data-date-autoclose="true"
							data-date-today-highlight="true" data-date-orientation="bottom" />
					</div>
				</div>


				<div class="form-group">
					<label class="col-md-2 control-label">Periodicidade </label>
					<div class="col-md-1">
						<input type="text" class="form-control" th:field="*{pPEmprestimo}" />

					</div>
				</div>

				<br>
<br>

				<div>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</div>

		</div>





	</form>
	<div th:replace="ClienteRapido:: modal"></div>

</section>



</html>







