<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/comum/LayoutPadrao}">

<head>
<title></title>
  
       <script type="text/javascript">
           var contador = 1;
             
           //Adiciona um novo item na tabela
              function adiciona(){

              var vid = $('#id').val();
                  var vdescricao = $('#parcela').val();
                    
                     $('#produtosAdicionados').append('<tr><td><input type="text" name="parcela['+ contador +'].id" id="parcela['+ contador +'].id" value="' + vid +'"></td>'
                    		                         +'<td><input type=text name="parcela['+contador+'].obs" id="parcela['+contador+'].obs" value="'+vdescricao+'"></td>'+
                                                     '<td><input type="button" value="Deletar" onclick="javascript:removeLinha(this)"></td></tr>');
                     contador++;
              }

              //Remove o item da tabela
        function removeLinha(row) {
              $(row).parent().parent().remove();
        }
       
    </script>
	</head>
<section layout:fragment="conteudo01">



	<table>
		<tr>
			<th>Id</th>
			<th>Observação</th>
			<th></th>
		</tr>
		<tr>
			<td><input type="text" id="id" name="id"></td>
			<td><input type="text" id="obs" name="obs"></td>
			<td><input type="button" onclick="javascript:adiciona();"
				value="Adicionar"></td>
		</tr>
	</table>


  <form id="frmNovoProduto"   method="POST" th:action="@{/parcelas/novo}" th:object="${parcela}">
              <h3>Itens Adicionados:</h3>
              <div>
                     <table id="produtosAdicionados"></table>
              </div>
       <div>
            <button type="submit" >Salvar</button>
        </div>          
       </form>



</section>


</html>