<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8" />
<title></title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="/css/bootstrap-datepicker.min.css" />
<link rel="stylesheet" type="text/css" href="/css/chosen.min.css" />
<link rel="stylesheet" type="text/css"
	href="/css/dataTables.bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />


</head>
<body>
	<header layout:replace="comum/Cabecalho"></header>

	<section layout:fragment="conteudo01"></section>


	<!-- jquery e bootstrap -->
	<script src="/js/jquery-3.2.0.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	<!-- 	Datapiker -->
	<script src="/js/bootstrap-datepicker.min.js"></script>
	<script src="/js/bootstrap-datepicker.pt-BR.min.js"></script>
	<script src="/js/bootstrap-datepicker.pt-BR.min.js"></script>




	<!-- 	Datatable -->
	<script src="/js/jquery.dataTables.min.js"></script>
	<script src="/js/dataTables.bootstrap.min.js"></script>



	<!-- 	Chosen -->
	<script src="/js/chosen.jquery.min.js"></script>


	<!-- 	meus js -->
	<script src="/js/cliente.js"></script>
	<script src="/js/emprestimo.js"></script>
	<script src="/js/parcela.js"></script>



</body>



</html>




